* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  list-style: none;
  text-decoration: none;
  border-radius: 30px;
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.15rem;
  font-weight: 450;
}

p {
  font-family: "Raleway";
}

img {
  max-width: 100%;
}

.top-navigation-container {
  display: grid;
}
